<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>UnB</title>
    <link rel="stylesheet" href="https://maxcdn.bootstarpcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <h1 style="text-align: center;">Estudantes UnB</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="/add">Adicionar estudante</a>
            </div>
            <div class="col-xs-12"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>nome</th>
                        <th>idade</th>
                        <th>ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in estudantes %}
                    <tr>
                        <td>{{e.nome}}</td>
                        <td>{{e.idade}}</td>
                        <td>
                            <a href="/edit/{{e.id}}">Editar</a> |
                            <a href="/delete/{{e.id}}">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>